<h1>About This Site</h1> 
<p> 
I used 
<a href="http://rubyonrails.org/">Ruby on Rails</a>
to create this site. I wanted to learn and create something interesting at the same time. The biggest help in creating this site was the 
<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> 
where you can find the sample application which I built on for this site. Have fun! and post any questions you have! 
</p> 
