<% if signed_in? %> 
  <table class="front" summary="For signed-in users"> 
    <tr> 
      <td class="main"> 
        <h1 class="micropost">Thoughts?</h1> 
        <%= render 'shared/micropost_form' %> 
        <%= render 'shared/feed' %> 
      </td> 
      <td class="sidebar round"> 
        <%= render 'shared/user_info' %> 
      </td> 
    </tr> 
  </table> 
<% else %> 
  <h1>SEVANS</h1> 
  
<p> 
  <li>	
    Are you checking me out?
  </li>
  <li>
    A quick sign-up and you can take a look around.  
  </li>
  <li>
	having a <a href="http://en.gravatar.com/" target="_blank"> gravatar </a> 
	increases the awesome!
</p> 

  <%= link_to "I want to sign up", signup_path, :class => "signup_button round" %> 
<% end %>